@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,200;0,400;1,200&family=DM+Sans:wght@400;500;700&family=Noto+Serif+Display:ital,wght@0,200;0,400;1,200;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,200;0,400;1,200&family=DM+Sans:wght@400;500;700&family=Noto+Serif+Armenian:wght@200;300;400&family=Noto+Serif+Display:ital,wght@0,200;0,400;1,200;1,400&display=swap');

*{
    font-family: 'Noto Serif Display', serif;;
}

.colornav{
    background-color: #8C705F;
}

.textonav{
    color: beige;
}

.textonav2{
    color: beige;
    text-align: center;
    margin-left: 280pt;
}

.carrusel{
    height: 619px;
}

.imgcarru{
    height: 100%;
    object-fit: cover;
}

.fullcard{
    height: 570px;
    background-color: #E4E2D9;
}

.bodycardhorizontal{
    background-color: #E4E2D9;
}

.imgcardhorizontal{
    height: 570px;
}

.titulocardhorizontal{
    color: #8C705F;
    text-align: center;
    margin-top: 120pt;
    margin-bottom: 20pt;
    font-size: 30pt;
}

.textcardhorizontal{
    color: #8C705F;
    text-align: center;
    font-size: 18pt;
    font-family: 'Noto Serif Armenian', serif;
    font-style: italic;
    font-weight: 300;
}

.btncard{
    padding: 8pt;
    margin-left: 280pt;
    margin-top: 20pt;
    border-radius: 5pt;
    background-color: #6D7588;
    color: beige;
    font-family: 'Noto Serif Armenian', serif;
}

.txtbtn{
    background-color: #6D7588;
    color: beige;
    font-family: 'Noto Serif Armenian', serif;
}

.footer{
    background-color: #8C705F;
}

.icono{
    color: beige;
    font-size: 30px;
}

.textcolumna{
    font-family: 'Noto Serif Armenian', serif;
    color: beige;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

.ordenicono{
    align-items: first baseline;
    margin-top: 10pt;
}